<!DOCTYPE html>
<html>
<head>
	<title>ZOL团购-ZOL商城</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__URL__/css/group-head.css">
	<link rel="stylesheet" type="text/css" href="__URL__/css/foot1.css">
	
	<link rel="stylesheet" type="text/css" href="__URL__/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__URL__/css/content-body.css">
</head>
<body onscroll="scro()">
 		<!-- 公共头部 -->
	 	<div class="top">
	 		<div class="topfist">
	 			<div class="tf1">
	 				<a href="index" id="zs">ZOL商城首页</a><span id="sp">|</span>
	 				<a href="http://www.zol.com.cn/" id="zs">中关村在线</a>
	 			</div>
	 			<div class="tf2">
	 				<ul class="fist">
	 					<li><a id="red" href="login">请登录</a></li>
	 					<li><span id="sp">|</span><a id="fei" href="register">免费注册</a></li>
	 					<li><span id="sp">|</span><a id="fei" href="personal">我的订单</a></li>
	 					<li id="erw">
	 						<div id="erwm">
	 							<img src="__URL__/img/zolDingYue.jpg" style="width: 120px;">
	 							<p class="wei xin1">微信关注：ZOL商城</p>
	 							<p class="wei xin2">扫码赢优惠 订单时时查</p>
	 						</div>
	 						<span id="sp">|</span>
	 						<a id="fei" href="">关注团购<i></i></a>
	 						
	 					</li>
	 					<li id="erw">
	 						<span id="sp">|</span>
	 						<a id="fei" href="#">订阅推荐<i></i></a>
	 						<div id="eml">
			 					<span>请输入邮箱地址</span>
			 					<form action="group.php" method="post">
			 						<input class="eml-text" type="text" name="eml">
			 						<input class="eml-sub" type="submit" value="确定">
			 					</form>
			 					<p class="">推荐时间：每周二、四、六(节假日除外)</p>	
	 						</div>
	 					</li>
	 					<li><span id="sp">|</span><a id="fei" href="#">帮助中心</a></li>
	 				</ul>
	 			</div>
	 		</div>
	 	</div>
 		<!-- 公共头部 -->
 		<!-- logo与搜索 -->
	 	<div class="sou">
	 		<h1 class="loge">
		 		<a id="sc" href="index" target="_blank"></a>
		 		<a id="tg" href="index"></a>
	 		</h1>
	 		<div class="fod">
	 			<form class="" action="" method="post" >
		 			<div class="inp">
				 		<input class="inp-t" type="text" name="sou" required="">
				 	</div>
				 	<div class="inp2">
				 		<input type="submit" value="搜索">
				 	</div>
	 			</form>
	 			<div class="dah">
		 			<ul class="">
		 				<li><a href="">魅族手机</a></li>
		 				<li><a href="#">DIY主机降1000</a></li>
		 				<li><a href="#">Z2　Pro 尊享版</a></li>
		 				<li><a href="#">超极本降1400元</a></li>
		 				<li><a href="#">荣耀V9</a></li>
		 			</ul>
	 			</div>
	 		</div>
	 		<div class="kf">
	 			<a class="kf1" href="#" target="_blank"></a>
	 			<p>客服电话:<span>400-688-1999</span></p>
	 		</div>
	 		
	 	</div> 
 		<!-- 导航栏 -->
	 	<div class="navigation-bar">
	 		<div class="bar">
	 			<h4 class="bar-h">团购商品分类</h4>
	 			<ul class="bar-tu">
	 				<li><div class="a1"><a href="group.html?c=List&a=DanPinTuan&cid=1" target="_blank">手机通讯</a></div></li>
	 				<li><div class="a2"><a href="group.html?c=List&a=DanPinTuan&cid=2" target="_blank">数码影像</a></div></li>
	 				<li><div class="a3"><a href="group.html?c=List&a=DanPinTuan&cid=3" target="_blank">笔记本/电脑</a></div></li>
	 				<li><div class="a4"><a href="group.html?c=List&a=DanPinTuan&cid=4" target="_blank">电脑外设</a></div></li>
	 				<li><div class="a5"><a href="group.html?c=List&a=DanPinTuan&cid=5" target="_blank">DIY主机/配件</a></div></li>
	 				<li><div class="a6"><a href="group.html?c=List&a=DanPinTuan&cid=6" target="_blank">家电/其他</a></div></li>
	 				<li><div class="a7"><a href="group.html?c=List&a=DanPinTuan&cid=7" target="_blank">智能生活</a></div></li>
	 			</ul>
	 			<ul class="navigation">
	 				<li><a class="tiyp-in" href="./group.html">首页</a></li>
	 				<li><a class="tiyp-dp" href="group_fu.html?c=List&a=DanPinTuan&ckk=1" target="_blank">单品团</a></li>
	 				<li><a class="tiyp-jg" href="group_fu.html?c=List&a=DanPinTuan&ckk=2" target="_blank">即将开团</a></li>
	 			</ul>
	 			<div class="ry">
	 				<a href="" target="_blank">荣耀畅玩6X现货放量抢</a>
	 			</div>
	 		</div>
	 	</div>
 		<!-- 主体开始 -->
		 	<div class="content-lb">
		 		<!-- S轮播图 S-->		 		
		 		<div class="lb">
		 			<a class="img" href="#" target="_blank"><img src="__URL__/img/lb1.jpg"></a>
		 			<a class="img" href="#" target="_blank"><img src="__URL__/img/lb2.jpg"></a>
		 			<a class="img" href="#" target="_blank"><img src="__URL__/img/lb3.jpg"></a>
		 			<ul class="fist_lb">
		 				<li id="ys"></li>
		 				<li id="ys"></li>
		 				<li id="ys"></li>
		 			</ul>
		 			<div class="button button1"></div>
		 			<div class="button button2"></div>		 			
		 		</div>
		 		<!-- S轮播图 S-->
		 		<div class="xleft">
		 			<a href="#" target="_blank"><img src="__URL__/img/xleft1.jpg"></a>
		 			<a href="#" target="_blank"><img src="__URL__/img/xleft2.jpg"></a>
		 		</div>
		 		<div class="baoz">
		 			<a href="#" target="_blank">
		 				<ul>
		 					<li>
			 					<i id="ioc1"></i>
			 					<span>正品保障</span>
		 					</li>
		 					<li>
			 					<i id="ioc2"></i>
			 					<span>先行赔付</span>
		 					</li>
		 					<li>
			 					<i id="ioc3"></i>
			 					<span>发票保障</span>
		 					</li>
		 					<li>
			 					<i id="ioc4"></i>
			 					<span>24h发货</span>
		 					</li>
		 					<li>
			 					<i id="ioc5"></i>
			 					<span>无忧退货</span>
		 					</li>
		 				</ul>
		 			</a>
		 		</div>
		 	</div>
		 	<!-- 今日团购 -->	 		
	 		<div class="jin">
		 		<div class="jin-fd">
		 			<div class="tuan1">
		 				<h3>今日团</h3>
		 				<ul class="lan">
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=1" target="_blank">手机通讯<span>(19)</span></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=2" target="_blank">数码影像<span>(23)</span></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=3" target="_blank">笔记本/电脑<span>(42)</span></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=4" target="_blank">电脑外设<span>(28)</span><i></i></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=5" target="_blank">DIY主机/配件<span>(33)</span></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=6" target="_blank">家电/其他<span>(1)</span></a></li>
		 					<li><a id="fei" href="group.html?c=List&a=DanPinTuan&cid=7" target="_blank">智能生活<span>(1)</span></a><span></li>
		 				</ul>
		 			</div>
		 			<div class="tuan2">
		 				<div class="lbor">
		 					<span><a class="tiyp1" href="group.html?c=List&a=JinRiTuan">默认</a></span>
		 				</div>
		 				<a class="tiyp2" href="group_fu.html?c=List&a=JinRiTuan&sort=start_time" target="_blank">最新团购</a>
		 				<a class="tiyp3" href="group_fu.html?c=List&a=JinRiTuan&sort=sale_num" target="_blank">销量</a>
		 				<a class="tiyp4" href="group_fu.html?c=List&a=JinRiTuan&sort=tuan_price" target="_blank">价格</a>
		 			</div>
		 		</div>
	 		</div>
	 		<!-- 商品展示 -->
	 	<div class="sshop-big">	 			 		
 			<div class="sshop">
	 			<ul class="shoping">
		 			<li>
		 				<a class="item" href="#" target="_blank">
		 					<div class="miaos-grping">
		 						<img class="grping-img" src="__URL__/img/sp1.jpg">
		 					</div>
		 					<div class="miaos-mp">
		 						<div class="mp-jange">
		 							<p>戴尔 Inspiron 灵越 14 7000系列 游匣Master 湛黑 黑色</p>
		 						</div>
		 						<div class="mp-lisen">
		 							<div class="mp-lisen-jg">
		 								<div class="jianger">
		 									<span>￥4899</span>
		 									<span class="huiyj">
		 										<span>￥5699</span>
		 									</span>
		 								</div>
		 								<span class="lisheng">立省800元</span>
		 							</div>
		 							<div class="mp-lisen-msq">
		 								<div class="mashangq">
		 									<span>马上抢</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div class="miaos-xst">
		 						<div class="miaos-xst-time">
		 							<span>剩余：0天12时55分29秒</span>
		 						</div>
		 					</div>
		 				</a>
		 			</li>
	 			</ul>
	 			<div style="clear: both;"></div>
	 		</div>
	 		<!-- 最新团购 -->
	 		<div class="ziuxin">
	 			<ul class="shoping">
		 			<li>
		 				<a class="item" href="#" target="_blank">
		 					<div class="miaos-grping">
		 						<img class="grping-img" src="__URL__/img/sp2.jpg">
		 					</div>
		 					<div class="miaos-mp">
		 						<div class="mp-jange">
		 							<p>戴尔 Inspiron 灵越 14 7000系列 游匣Master 湛黑 黑色</p>
		 						</div>
		 						<div class="mp-lisen">
		 							<div class="mp-lisen-jg">
		 								<div class="jianger">
		 									<span>￥4899</span>
		 									<span class="huiyj">
		 										<span>￥5699</span>
		 									</span>
		 								</div>
		 								<span class="lisheng">立省800元</span>
		 							</div>
		 							<div class="mp-lisen-msq">
		 								<div class="mashangq">
		 									<span>马上抢</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div class="miaos-xst">
		 						<div class="miaos-xst-time">
		 							<span>剩余：0天12时55分29秒</span>
		 						</div>
		 					</div>
		 				</a>
		 			</li>
	 			</ul>
	 			<div style="clear: both;"></div>
	 		</div>
	 		<!-- 销量 -->
	 		<div class="xiaoliang">
	 			<ul class="shoping">
		 			<li>
		 				<a class="item" href="#" target="_blank">
		 					<div class="miaos-grping">
		 						<img class="grping-img" src="__URL__/img/sp3.jpg">
		 					</div>
		 					<div class="miaos-mp">
		 						<div class="mp-jange">
		 							<p>戴尔 Inspiron 灵越 14 7000系列 游匣Master 湛黑 黑色</p>
		 						</div>
		 						<div class="mp-lisen">
		 							<div class="mp-lisen-jg">
		 								<div class="jianger">
		 									<span>￥4899</span>
		 									<span class="huiyj">
		 										<span>￥5699</span>
		 									</span>
		 								</div>
		 								<span class="lisheng">立省800元</span>
		 							</div>
		 							<div class="mp-lisen-msq">
		 								<div class="mashangq">
		 									<span>马上抢</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div class="miaos-xst">
		 						<div class="miaos-xst-time">
		 							<span>剩余：0天12时55分29秒</span>
		 						</div>
		 					</div>
		 				</a>
		 			</li>
	 			</ul>
	 			<div style="clear: both;"></div>
	 		</div>
	 		<!-- 价格 -->
	 		<div class="jiage">
	 			<ul class="shoping">
		 			<li>
		 				<a class="item" href="#" target="_blank">
		 					<div class="miaos-grping">
		 						<img class="grping-img" src="__URL__/img/sp4.jpg">
		 					</div>
		 					<div class="miaos-mp">
		 						<div class="mp-jange">
		 							<p>戴尔 Inspiron 灵越 14 7000系列 游匣Master 湛黑 黑色</p>
		 						</div>
		 						<div class="mp-lisen">
		 							<div class="mp-lisen-jg">
		 								<div class="jianger">
		 									<span>￥4899</span>
		 									<span class="huiyj">
		 										<span>￥5699</span>
		 									</span>
		 								</div>
		 								<span class="lisheng">立省800元</span>
		 							</div>
		 							<div class="mp-lisen-msq">
		 								<div class="mashangq">
		 									<span>马上抢</span>
		 								</div>
		 							</div>
		 						</div>
		 					</div>
		 					<div class="miaos-xst">
		 						<div class="miaos-xst-time">
		 							<span>剩余：0天12时55分29秒</span>
		 						</div>
		 					</div>
		 				</a>
		 			</li>
	 			</ul>
	 			<div style="clear: both;"></div>
	 		</div>	 		
	 	</div>
	 	<div class="gdt"><a href="group_fu.html" target="_blank">更多团购商品 > ></a></div>
	 	<hr>	 				 	
 		<!-- 底部公共 -->
 		<div class="foot-big">
		 	<div class="footer">
		 		<div class="footer-zn">
		 			<ul class="fist-pai">
		 				<li class="pai">
		 					<ul class="pai-min">
		 						<li style="font-weight: 600">购物指南</li>
		 						<li><a href="#" target="_blank">购物流程</a></li>
		 						<li><a href="#" target="_blank">优惠券红包</a></li>
		 						<li><a href="#" target="_blank">常见问题</a></li>		
		 					</ul>
		 				</li>
		 				<li class="pai">
		 					<ul class="pai-min">
		 						<li style="font-weight: 600">售后服务</li>
		 						<li><a href="#" target="_blank">申请退款</a></li>
		 						<li><a href="#" target="_blank">售后政策</a></li>
		 						<li><a href="#" target="_blank">售后问题</a></li>		
		 					</ul>
		 				</li>
		 				<li class="pai">
		 					<ul class="pai-min">
		 						<li style="font-weight: 600">团购特点</li>
		 						<li><a href="#" target="_blank">Z团优势</a></li>
		 						<li><a href="#" target="_blank">参团效果</a></li>
		 						<li><a href="#" target="_blank">往期团购</a></li>		
		 					</ul>
		 				</li>
		 				<li class="pai">
		 					<ul class="pai-min">
		 						<li style="font-weight: 600">商务合作</li>
		 						<li><a href="#" target="_blank">媒体合作</a></li>
		 						<li><a href="#" target="_blank">团购合作</a></li>		
		 					</ul>
		 				</li>
		 				<li class="pai">
		 					<ul class="pai-min">
		 						<li style="font-weight: 600">商城服务</li>
		 						<li>400-688-1999</li>
		 						<li>工作日(9:00-18:00)</li>
		 						<li class="sina"><a style="margin-left: 26px;" href="#" target="_blank">关注新浪微博</a></li>		
		 					</ul>
		 				</li>
		 			</ul>
		 		</div>
		 		<div class="footer-erm">
		 			<img src="__URL__/img/zolDingYue.jpg" style="width: 110px;">
		 			<p class="wei xin1">微信关注：ZOL商城</p>
		 			<p class="wei xin2">扫码赢优惠 订单时时查</p>
		 		</div>
		 	</div>
	 	</div>
 		<!-- 底部公共 -->
	 	<div class="foot">
	 		<div class="foot1">
	 			<div class="tongyi">
	 				<ul class="fist-foot">
	 					<li><a href="#" target="_blank" style="color: white;font-weight: 600;">中关村在线</a></li>
	 					<li><a href="#" target="_blank" style="color: white;font-weight: 600;">ZOL商城</a><span>|</span></li>
	 					<li><a href="#" target="_blank" style="color: white;font-weight: 600;">产品报价</a><span>|</span></li>
	 					<li><a href="#" target="_blank" style="color: white;font-weight: 600;">论坛</a><span>|</span></li>
	 					<li><a href="#" target="_blank" style="color: white;font-weight: 600;">问答</a><span>|</span></li>
	 				</ul>
	 			</div>
	 			<div class="tongyi">
	 				<ul class="fist-foot">
	 					<li><a href="#" target="_blank">关于ZOL商城</a></li>
	 					<li><a href="#" target="_blank">帮助中心</a><span>|</span></li>
	 					<li><a href="#" target="_blank">联系我们</a><span>|</span></li>
	 					<li><a href="#" target="_blank">发展历程</a><span>|</span></li>
	 					<li><a href="#" target="_blank">媒体报道</a><span>|</span></li>
	 				</ul>
	 			</div>
	 			<div class="tongyi">
	 				<ul class="fist-foot">
	 					<li style="color: #8A8A8A;font-size: 10px;">©2016 中关村在线 版权所有.</li>
	 					<li><a href="#" target="_blank"><li>京ICP证150096号</a></li>
	 					<li style="color: #8A8A8A;font-size: 10px;">京ICP备14061128号</li>
	 					<li><a href="#" target="_blank">京公网安备11010802020026号</a></li>
	 					<li><a href="#" target="_blank">网络文化经营许可证京网文[2016]1631-199</a></li>
	 				</ul>
	 			</div>
	 		</div>
	 	</div>
</body>
	
	<script type="text/javascript" src="__URL__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__URL__/js/jsgroup.js"></script>

</html>