<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{}</title>
</head>
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/per_public.css">
<body>
	<!-- header -->
	<div class="top_header">
		<i id="l">您好{} ,<span id="sp0"><a href="">退出</a></span></i>

		<div class="ul1">
			<li><a href="">ZOL商城</a></li>
			<li>|</li>
			<li><a href="http://go.zol.com/topic/2518475.html">手机版</a></li>
			<li>|</li>
			<li><a href="javascript:void(0)">收藏</a></li>
			<li>|</li>
			<li><a href="">订阅团购推荐</a></li>
			<li>|</li>
			<li>客服电话：<span>400-678-0068</span></li>
		</div>
	</div>
	<div class="sou">
		<div class="logo1">
			<span>Z</span><span>团</span>
			<div class="find">
				<form method="post" action="">
					<input type="text" name="cont" class="searchbox">
					<input type="submit" name="sub" value="搜索" class="btn-sm sub">
				</form>
			</div>
		</div>

		<div class="title">
			<li><a href="">首页</a></li>
			<li><a href="">数码团</a></li>
			<li><a href="">即将开团</a></li>
			<li><a href="">服务保障</a></li>
			<li><a href="">帮助中心</a></li>
			<span><a href="">我的订单</a></span>
		</div>
	</div>
	<div class="con">
		<div class="content">
			<div class="dh">
				<ul>
					<li onclick="dj(0)"><a href="#" title="">代付款订单</a></li>
					<li  onclick="dj(1)"><a href="#" title="">全部订单</a></li>
					<li  onclick="dj(2)"><a href="#" title="">优惠券</a></li>
					<li  onclick="dj(3)"><a href="#" title="">我的红包</a></li>
				</ul>
			</div>
			<!-- 全部订单 -->
		{if $pd eq 'default'}
			
		{/if}
		</div>

		<hr/>
		<div class="ul-wu">
			<ul>
				<li class="fir">帮助中心</li>
				<li><a href="" title="">购物指南</a></li>
				<li><a href="" title="">优惠券礼包</a></li>
				<li><a href="" title="">常见问题</a></li>
				<li><a href="" title="">售后服务</a></li>
			</ul>
			<ul>
				<li class="fir">手机版Z团</li>
				<li><a href="" title="">iPhone手机客户端</a></li>
			</ul>
			<ul>
				<li class="fir">关注Z团</li>
				<li><a href="" title="">Z团新浪微博</a></li>
				<li><a href="" title="">Z团腾讯微博</a></li>
			</ul>
			<ul>
				<li class="fir">商务合作</li>
				<li><a href="" title="">媒体合作</a></li>
			</ul>
			<ul>
				<li class="fir">公司信息</li>
				<li><a href="" title="">关于中关村在线</a></li>
			</ul>
			<ul>
				<li class="fir">客服电话</li>
				<li id="tel">400-688-1999</li>
				<li>周一至周日 9:00 - 18:00</li>
			</ul>
		</div>

		<hr/>

		<div class="last">
			<ul>
				<li><a href="" title="">ZOL简介</a></li>
				<li><a href="" title="">ZOL历程 </a></li>
				<li><a href="" title="">广告服务</a></li>
				<li><a href="" title="">招聘(10月)</a></li>
				<li><a href="" title="">互动营销</a></li>
				<li><a href="" title="">品牌大全</a></li>
				<li><a href="" title="">站点地图</a></li>
				<li><a href="" title="">联系方式</a></li>
				<li><a href="" title=""> RSS订阅</a></li>
				<li><a href="" title="">反馈/纠错 </a></li>
			</ul>
		</div>

	</div>

</body>
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/bootstrap.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</html>