<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADM__../lib//html5.js"></script>
<script type="text/javascript" src="__ADM__../lib//respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__ADM__h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADM__h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__ADM__../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADM__h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADM__h-ui.admin/css/style.css" />
<script type="text/javascript">
/*图片-添加*/
	function picture_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-添加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*产品-添加*/
function product_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
// 切换账号
function unlogin(title,url,w,h){
	layer_show(title,url,800,600);
}


</script>
<!--[if IE 6]>
<script type="text/javascript" src="http://__ADM__../lib/.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->