<!--_meta 作为公共模版分离出去-->
{include file="index/_meta"}
<!--/meta 作为公共模版分离出去-->

<title>产品列表</title>
<link rel="stylesheet" href="__ADM__../lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file="index/_header"}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="index/_menu"}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div style="margin-left:150px;">
			<div class="pd-20">
				<div class="text-c"> 日期范围：
					
					<input type="text" name="" id="" placeholder=" 产品名称" style="width:250px" class="input-text">
					<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜产品</button>
				</div>
				<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a title="批量删除" href="javascript:;" onclick="product_del(this,'10001')" class="btn btn-danger radius" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a></span> <span class="r"><div class="text-c">
				<form class="Huiform" method="post" action="" target="_self">
					<a onclick="product_edit('添加产品','product_edit.html','10001')" href="javascript:;" title="添加"><button type="button" class="btn btn-success" id="" name="" ><i class="Hui-iconfont">&#xe600;</i> 添加新产品</button></a>
				</form>
			</div></span> </div>
				<div class="mt-20">
					<table class="table table-border table-bordered table-bg table-hover table-sort">
						<thead>
							<tr class="text-c">
								<th width="40"><input name="" type="checkbox" value=""></th>
								<th width="40">编号</th>
								<th width="60">缩略图</th>
								<th width="100">产品名称</th>
								<th width="100">所属分类</th>
								<th width="100">所属品牌</th>
								<th>描述</th>
								<th width="100">单价</th>
								<th width="100">库存</th>
								<th width="60">展销状态</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
						{volist name='res' id='cp'}
							<tr class="text-c va-m">
								<td><input name="" type="checkbox" value=""></td>
								<td>{$i}</td>
								<td><a href="__IMG__/{$cp.img}" target="_blanck"><img width="60" class="product-thumb" src="__IMG__/{$cp.img}"></a></td>
								<td>{$cp.p_name}</td>
								<td>{$cp.c_name}</td>
								<td class="text-l"><img title="国内品牌" src="__ADM__h-ui.admin/images/cn.gif">{$cp.b_name}</td>
								<td>{$cp.size},{$cp.ram},{$cp.type},{$cp.color}</td>
								<td><span class="price">{$cp.pay}</span> 元</td>
								<td>{$cp.num}</td>
								<td class="td-status"><span class="label label-success radius">展销中</span></td>
								<td class="td-manage"><a style="text-decoration:none" onclick="product_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> <a style="text-decoration:none" class="ml-5" onclick="product_edit('产品编辑','product_edit.html?type=edit&pid={$cp.pid}&px={$i}','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onclick="product_del(this,'{$cp.pid}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
							</tr>
						{/volist}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADM__../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADM__../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADM__h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADM__h-ui.admin/js/H-ui.admin.page.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADM__../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADM__../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADM__../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__ADM__../lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				demoIframe.attr("src",treeNode.file + ".html");
				return true;
			}
		}
	}
};

var zNodes =[
	{ id:1, pId:0, name:"一级分类", open:true},
	{ id:11, pId:1, name:"二级分类"},
	{ id:111, pId:11, name:"三级分类"},
	{ id:112, pId:11, name:"三级分类"},
	{ id:113, pId:11, name:"三级分类"},
	{ id:114, pId:11, name:"三级分类"},
	{ id:115, pId:11, name:"三级分类"},
	{ id:12, pId:1, name:"二级分类 1-2"},
	{ id:121, pId:12, name:"三级分类 1-2-1"},
	{ id:122, pId:12, name:"三级分类 1-2-2"},
];

var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	demoIframe.bind("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("tree");
	zTree.selectNode(zTree.getNodeByParam("id",'11'));
});

$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});
/*图片-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-查看*/
function product_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-审核*/
function product_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'],
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">展销中</span>');
		$(obj).remove();
		layer.msg('展销中', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});
}
/*图片-下架*/
function product_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*图片-发布*/
function product_start(obj,id){
	layer.confirm('确认要上架展销吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">展销中</span>');
		$(obj).remove();
		layer.msg('展销中!',{icon: 6,time:1000});
	});
}
/*图片-申请上线*/
function product_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
/*图片-编辑*/
function product_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*图片-删除*/
function product_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
		location.href=""
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>